@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
@import url(https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&display=swap);

*{
    margin: 0;
    padding: 0;
}

.content{
    height: 100vh;
    padding-top: 40%;
}

.content1{
    height: 110vh;
    padding-top: 3.5%;
}

.content3{
    height: 90vh;
    width: 100%;
}

.editbtn{
    width: 90%;
}

.infocontent{
    height: 500px;
}

.scroll{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.scroll .table1{
    font-size: 12px;
}

.scroll .table3{
    font-size: 12px;
}

.switchbtn{
    margin-top: 5%;
}

.tfield{
    width: 400px;
}

.inputtg{
    margin-left: 5px;
    width: 400px;
    height: 59px;
}

.inputdg{
    margin-left: 5px;
    width: 400px;
    height: 59px;
}

.switchgbtn{
    margin-top: 5%;
}

.tfield1{
    width: 394px;
}

.inputg{
    height: 59px;
}

.inputtg1{
    width: 394px;
    height: 59px;
}

.inputdg1{
    width: 394px;
    height: 59px;
}

.recard{
    width: 100%;
    height: 400px;
}

.scanbtn{
    width: 100%;
}

.profimg{
    width: 80%;
}

@media (min-width:768px){
    .content{
        padding-top: 20%;
    }

    .content1{
        padding-top: 2.5%;
    }

    .scroll .table1{
        font-size: 16px;
    }

    .switchbtn{
        margin-top: 10%;
    }

    .tfield{
        width: 100%;
    }

    .inputtg{
        margin-left: -1px;
        width: 425px;
    }
    
    .inputdg{
        margin-left: -1px;
        width: 425px;
    }

    .tfield1{
        width: 425px;
    }

    .inputtg1{
        width: 425px;
    }
    
    .inputdg1{
        width: 425px;
    }

    .scroll .table3{
        font-size: 16px;
    }

    .profimg{
        width: 50%;
    }
}

@media (min-width:992px){
    .content{
        padding-top: 17%;
    }

    .content1{
        padding-top: 1.5%;
    }

    .cardadmin{
        margin-left: 10%;
        width: 80%;
    }

    .cardadmin1{
        margin-left: 30%;
        width: 40%;
    }

    .cardadmin2{
        margin-left: 10%;
        width: 70%;
    }

    .profimg{
        width: 20%;
    }
}